* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--super-color: #141414;
	--ws: calc(1vw + 1vh);
	--transition: 1.25s cubic-bezier(.2, .5, 0, 1);
	--transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
}

@font-face {
	font-family: Arsenal;
	src: url(../fonts/arsenal-regular.woff2);
}

.magic-list {

}

.magic-list__item {
	text-decoration: none;
	color: var(--super-color);
	font-family: Arsenal;
	font-size: 42px;
	cursor: none;
}	

.magic-list__item:first-child {

}

.magic-list__header {
	transition: transform var(--transition);
	margin: 120px;
	transition: all ease 1.5s;

}

.magic-list__header:hover {
	transform: translateX(-100px);
}

.magic-list__item::before {
	transition: transform var(--transition);
	content: '';
    display: block;
    height: 0.5px; 
    background: rgba(190, 190, 190, 0.5); 
    width: 95%; 
    margin: 0 auto 10px; 
}

.magic-list__item:hover .magic-list__header,
.magic-list__item:hover::before {

}

.cursor {
	transition: transform var(--transition-cursor), height 1s ease;
}

.magic-list__item:hover .cursor {

}

.cursor__image {
	transition: transform var(--transition-cursor);
}

.magic-list__item:hover .cursor__image {

}


