* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Ermilov;
    src: url(../fonts/Ermilov-bold.otf);
}

.body-block {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 2fr 17fr 12fr 8fr 10fr 7fr;
    grid-template-areas: "header header header" "company company company" ". map ." "services services services" "activities activities activities" "footer footer footer";
}

header {
    grid-area: header;
    background-color: #fbec5d;
}

.header {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 2fr;
    grid-template-areas: "logo menu sign";
    margin-top: 1%;
    margin-bottom: 1%;
}
.header a {
    text-decoration: none;
}

.logo {
    grid-area: logo;
    justify-self: center;
}
.logo img {
    width: 80px;
    height: 70px;
}

.menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
}
.menu a {
    color: #535353;
    font-family: Ermilov;
    font-size: 20px;
    margin: calc(1vw + 1vh); 
    display: inline-block;
    transition: .3s;
}
.menu a:hover {
  transform: translateY(-7px);
}

.sign {
    grid-area: sign;
    align-self: center;
}
.sign-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one two"
}
#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 10px 20px;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

.company {
    grid-area: company;

}
.company img {
    width: 100%;
    position: relative;
    max-width: 100%;
    height: auto;
    z-index: -1;
}
.text-company {
    position: absolute;
    top: 700px;
    width: 90%;
    background-color: #fbec5d;
    padding: 15px;
    z-index: -1;
}
.text-company h1 {
    font-size: 42px;
    font-family: Ermilov;
    color: #535353;
}
.text-company p {
    font-size: 14px;
    font-family: Ermilov;
    color: #535353;
}

.map {
    grid-area: map;

}
.map h1 {
    font-size: 42px;
    font-family: Ermilov;
    color: #535353;
    margin: 70px auto 30px;
}

.services {
    grid-area: services;
    background-color: #fbec5d;
}
.services h1 {
    font-size: 42px;
    font-family: Ermilov;
    color: #535353;
    margin: 70px auto 70px;
    text-align: center;
}
.services p {
    font-size: 18px;
    font-family: Ermilov;
    color: #535353;
    margin: 0 45px 0;
    text-indent: 30px;
}

.activities {
    grid-area: activities;
    justify-self: center;
}
.activities h1 {
    font-size: 42px;
    font-family: Ermilov;
    color: #535353;
    margin: 70px auto 70px;
    text-align: center;
}
.activities-cards {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    grid-template-areas: "one-a-card two-a-card three-a-card";
    grid-gap: 50px;
}
.a-cards {
    transition: .3s;
}
.a-cards:hover {
    transform: translateY(-7px);
    box-shadow: 0 15px 20px rgba(251, 236, 93, .7);  
}
.activities-cards img {
    width: 350px;
    height: 200px;
}
.activities-cards a {
    display: inline-block;
    text-decoration: none;
    color: #535353;
    font-family: Ermilov;
    font-size: 18px;
}
#one-a-card {
    grid-area: one-a-card;
}
#two-a-card {
    grid-area: two-a-card;
}
#three-a-card {
    grid-area: three-a-card;
}

footer {
    grid-area: footer;

}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "footer-contacts footer-company footer-partners";
    justify-items: center;
    align-items: start;
    min-height: 300px;
    background-color: #fbec5d;
    margin-top: 50px;
    color: white;
    font-family: 'Roboto Slab', serif;
}
.footer-contacts {
    grid-area: footer-contacts;
    display: grid;
    justify-self: end;
    padding-top: 25px;
}
.glow-button__footer {
    text-decoration: none;
    display: inline-block;
    padding: 15px 5px;
    margin-top: 35px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #2EE59D inset, 0 0 0 0 #2EE59D;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
    transition: .25s ease-in-out;
}
.glow-button__footer:hover {
    box-shadow: 0 0 10px 0 #2EE59D inset, 0 0 10px 4px #2EE59D;
    color: #2EE59D;
    transition: .25s ease-in-out;
}
.footer-contacts>h1 {
    font-size: 25px;
    justify-self: center;
    color: #535353;
}
.footer-contacts__links {
    text-decoration: none;
    color: #535353;
    padding: 5px 0;
    padding-top: 25px;
    justify-self: center;
    transition: .3s ease-out;
}
.footer-contacts__links:hover {
    color: #2EE59D;
    transition: .25s ease-out;
}
.footer-company {
    grid-area: footer-company;
    display: grid;
    padding-top: 25px;
}
.footer-company>h1 {
    font-size: 25px;
    justify-self: start;
    color: #535353;
    padding-bottom: 5px;
}
.footer-company__links {
    text-decoration: none;
    color: #535353;
    padding: 5px 0;
    padding-top: 15px;
    justify-self: start;
    transition: .3s ease-out;
}
.footer-company__links:hover {
    color: #2EE59D;
    transition: .25s ease-out;
}
.footer-partners {
    grid-area: footer-partners;
    display: grid;
    justify-self: start;
    padding-top: 25px;
}
.footer-partners>h1 {
    font-size: 25px;
    justify-self: start;
    color: #535353;
    padding-bottom: 5px;
}
.footer-partners__links {
    text-decoration: none;
    color: #535353;
    padding: 5px 0;
    padding-top: 15px;
    justify-self: start;
    transition: .3s ease-out;
}
.footer-partners__links:hover {
    color: #2EE59D;
    transition: .25s ease-out;
}

@media (max-height: 900px) {
    .text-company {
        top: 500px;
    }
}
@media (max-width: 1230px) {
    .menu a {
        font-size: 18px;
    }
}
@media (max-width: 1160px) {
    .menu a {
        font-size: 16px;
    }
}
@media (max-width: 1080px) {
    .menu a {
        font-size: 14px;
    }
}

@media (max-width: 1305px) {
    iframe {
        width: 90%;
    }
    .activities-cards {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr;
        grid-template-areas: "one-a-card" "two-a-card" "three-a-card";
        justify-items: center;
    }
    .body-block {
        grid-template-rows: 2fr 17fr 12fr 8fr 22fr 7fr;
    }
}

@media (max-width: 1024px) {
    .text-company {
        top: 550px;
    }
    .body-block {
        grid-template-rows: 2fr 17fr 12fr 10fr 22fr 22fr;
    }
    .map h1 {
        margin: 0 auto 30px;
    }
    .footer {
        grid-template-columns: 3fr;
        grid-template-rows: 2fr 2fr 2fr;
        grid-template-areas: "footer-contacts" "footer-company" "footer-partners";
    }
    .footer-contacts {
        justify-self: center;
    }
    .footer-company {
        justify-self: center;
    }
    .footer-company h1 {
        justify-self: center;
    }
    .footer-company__links {
        justify-self: center;
    }
    .footer-partners {
        justify-self: center;
    }
    .footer-partners h1 {
        justify-self: center;
    }
    .footer-partners__links {
        justify-self: center;
    }
}

@media (max-width: 980px) {
    .menu {
        visibility: hidden;
        font-size: 1px;
    }
    .sign {
        visibility: hidden;
        font-size: 1px;
    }
